[req]
distinguished_name = req_distinguished_name
encrypt_key = no
prompt = no
string_mask = nombstr
req_extensions = v3_req

[v3_req]
basicConstraints = CA:false
keyUsage = digitalSignature, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = DNS:"{{ computer_name }}",DNS:"{{ computer_fqdn_name }}"

[req_distinguished_name]
countryName = {{ cert_country_name }}
0.organizationName = {{ dns_domain }} 
commonName = {{ computer_fqdn_name }}

[alt_names]
DNS.1 = {{ computer_name }}
DNS.2 = {{ computer_fqdn_name }}